*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;;
}
#root{
  margin-top: 100px;
}
.todo{
  display: flex;
  margin: 0 auto;

  width: 746px;
  height: 529px;
  
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  &__sidebar{
    background-color: #f4f6f8;
    min-width: 25%;
    max-height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
    border-radius: 10px 0 0 10px;
  }
  &__tasks{
    min-width: 75%;
    height: 100%;
  }
}